body {
    font-family: 'Noto Sans SC', sans-serif; /* 字体族设置为Noto Sans SC，备用字体为sans-serif */
    /* 最小值：18px, 理想值：2vw, 最大值：30px */
    margin-left: 4vw; /* 页面左边距设置为视口宽度的4%，以提供动态调整的空白区域 */
}

header {
    width: 100%; /* 宽度占满整个屏幕 */
    height: 14vh; /* 高度为视口高度的14% */
    background-color: transparent; /* 背景透明 */
}

h1 {
    font-family: 'Noto Serif', sans-serif;
    font-size: 2rem; /* 示例：设置标题的字体大小 */
    font-weight: bold; /* 加粗 */
}

p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1rem; /* 示例：设置正文的字体大小 */
    line-height: 1.6; /* 设置行高，提高可读性 */
}

.back-to-home {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

/* 去掉ul列表前的小圆点 */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* 修改链接颜色 */
ul li a {
    color: grey; /* 设置链接颜色为灰色 */
    text-decoration: none; /* 去掉下划线 */
}

/* 鼠标悬停时链接颜色变化 */
ul li a:hover {
    color: darkgrey;
}
