body {
    font-family: 'Noto Sans SC', sans-serif;
}

header {
    width: 100%; /* 让header占据整个容器的宽度 */
    height: 150px; /* 设置一个固定高度 */
    background-image: url('img/huangshan.jpeg'); /* 设置背景图片 */
    background-size: cover; /* 确保图片覆盖整个header区域 */
    background-position: center; /* 图片居中显示 */
}


/* 去掉ul列表前的小圆点 */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* 修改链接颜色 */
ul li a {
    color: grey; /* 设置链接颜色为灰色 */
    text-decoration: none; /* 去掉下划线 */
}

/* 鼠标悬停时链接颜色变化 */
ul li a:hover {
    color: darkgrey;
}
