body {
    font-family: 'Noto Sans SC', sans-serif; /* 字体族设置为Noto Sans SC，备用字体为sans-serif */
    /* 最小值：18px, 理想值：2vw, 最大值：30px */
    margin-left: 4vw; /* 页面左边距设置为视口宽度的4%，以提供动态调整的空白区域 */
}

header {
    width: 100%; /* 宽度占满整个屏幕 */
    height: 14vh; /* 高度为视口高度的14% */
    background-color: transparent; /* 背景透明 */
}

h1 {
    font-family: 'Noto Serif', sans-serif;
    font-size: 2rem; /* 示例：设置标题的字体大小 */
    font-weight: bold; /* 加粗 */
}

p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1rem; /* 示例：设置正文的字体大小 */
    line-height: 1.6; /* 设置行高，提高可读性 */
}

.back-to-home {
    display: inline-block; /* 使链接像块级元素一样显示，但仍然保持行内元素的特性 */
    color: #333; /* 设置文字颜色为深灰色 */
    text-decoration: none; /* 去掉下划线 */
    border-bottom: 2px solid #ccc; /* 在文字下方添加一条灰色的横线 */
    padding-bottom: 3px; /* 在横线和文字之间添加一点间距 */
    transition: color 0.3s, border-bottom-color 0.3s; /* 添加颜色变化的过渡效果 */
}

.back-to-home:hover,
.back-to-home:focus {
    color: #555; /* 鼠标悬停或聚焦时文字颜色变深 */
    border-bottom-color: #888; /* 鼠标悬停或聚焦时横线颜色变深 */
}

.post-link {
    display: flex; /* 使用flex布局 */
    justify-content: space-between; /* 使用空间在项目之间平均分配 */
    width: 100%; /* 链接占据全部可用宽度 */
    text-decoration: none; /* 去除下划线 */
}

.post-title {
    /* 标题的样式 */
    margin-right: auto; /* 确保标题和日期之间的间隔 */
}

.post-date {
    /* 日期的样式 */
}


/* 可选：为链接添加一些样式，比如悬停效果 */
.post-link:hover {
    color: #000; /* 鼠标悬停时的颜色变化 */
}

/* 去掉ul列表前的小圆点 */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* 修改链接颜色 */
ul li a {
    color: grey; /* 设置链接颜色为灰色 */
    text-decoration: none; /* 去掉下划线 */
}

/* 鼠标悬停时链接颜色变化 */
ul li a:hover {
    color: darkgrey;
}
