<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>鸥衔海际归</title>
    <!-- 链接到CSS文件 -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;700&display=swap" rel="stylesheet">
</head>
<header>
</header>
<body>
    <ul>
      {% for post in site.posts %}
        <li>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ul>
<footer>
</footer>
</body>
</html>
